:root {
  --black-color: #000;
  --color-text: #f9ab00;

  --bg-options: #eee;
  --white-color: #000;
  --primary-color: #fff;
}

[data-theme="light"] {
  --primary-color: #1a191f;
  --white-color: #fff;
  --bg-options: #333;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
