:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #1a191f;
  --color-text: #f9ab00;
}

[data-theme="light"] {
  --white-color: #000;
  --primary-color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  -webkit-tap-highlight-color: transparent;
}
