:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #1a191f;
  --color-hover-category: #f9ab00;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
